<%- include layout/header.html %>
<div class="main_page">
	<h4 style="font-size: 20px;font-weight: bold;">Welcome at Warlock's World</h4>
    <hr style="">
        <p style="font-size: 15px;">Plase check <a href="/game/about">About</a> page and <a href="/game/cards">Cards</a> page for basic info.</p>
    <hr style="">

	<div id="slides">
		<div class="slides_container">
			<img src="/img/slide1.jpg" alt="" />
			<img src="/img/slide2.jpg" alt="" />
			<img src="/img/slide3.jpg" alt="" />
			<img src="/img/slide1.jpg" alt="" />
			<img src="/img/slide2.jpg" alt="" />
			<img src="/img/slide3.jpg" alt="" />
		</div>
		<a href="#" class="prev"></a>
		<a href="#" class="next"></a>
	</div>
</div>

	<script type="text/javascript">
		/*          http://slidesjs.com/          */
		$(function(){
			// Initialize Slides
			$('#slides').slides({
				preload: true,
				preloadImage: '/images/icons/loading.gif',
				generatePagination: true,
				play: 5000,
				pause: 2500,
				hoverPause: true,
				fadeSpeed: 400,
				effect: 'slide, fade'
			});
		});
		$(document).ready(function () {

		});
	</script>
<%- include layout/footer.html %>