<%- include ../layout/header.html %>
<link rel="stylesheet" type="text/css" href="<%=conf.staticUrl%>/stylesheets/bootstrap.css" media="all"/>
<div class="inner_wrap">
    <div class="contactPage">
        <h1>Leaderboard</h1>
        <div class="bs-docs-example">
            <table class="table">
                <thead>
                <tr>
                    <th><i class="icon-tag"></i></th>
                    <th><i class="icon-user"></i> Username</th>
                    <th><i class="icon-fire"></i> Rating</th>
                    <th><i class="icon-plus"></i> Wins</th>
                    <th><i class="icon-minus"></i> Loses</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user, index){%>
                <tr>
                    <td><%= (parseInt(index) + 1) %></td>
                    <td><a><%= users[index].u %></a></td>
                    <td><%= users[index].rating %></td>
                    <td><%= users[index].wins %></td>
                    <td><%= users[index].lose %></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include ../layout/footer.html %>