<%- include ../layout/header.html %>

<div class="form_wrapper">
	<a class="hiddenanchor" id="toregister"></a>
	<a class="hiddenanchor" id="tologin"></a>
	<div id="wrapper">
        <div id="register" class="animate form">
            <form  action="javascript:CardsUI.signIn();" autocomplete="on">
                <h3>Register</h3>
                <div class="alert alert-error hide">

                </div>
                <p>
                    <label for="usernamesignup" class="youmail">Username</label>
                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="eg. killer"/>
                </p>
                <p>
                    <label for="emailsignup" class="youmail">Your email</label>
                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mymail@mail.com"/>
                </p>
                <p>
                    <label for="passwordsignup" class="youpasswd">Your password </label>
                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p>
                    <label for="passwordsignup_confirm" class="youpasswd">Please confirm your password</label>
                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p class="signin buttWrap">
                    <input type="submit" value="Sign up" id="goReg" class="btn btn-primary"/>
                </p>
	            <p class="change_link">
		            Already a member ?
		            <a href="#tologin" class="to_register">Go and log in</a>
	            </p>
            </form>
        </div>

        <div id="login" class="animate form">
			<form  action="javascript:CardsUI.formLogin();" autocomplete="off">
				<h3>Log in</h3>
				<p>
					<label for="lUsername2" class="uname">Your email</label>
					<input id="lUsername2" name="lUsername" required="required" type="email" placeholder="mymail@mail.com"/>
				</p>
				<p>
					<label for="lPass2" class="youpasswd">Your password</label>
					<input id="lPass2" name="lPass" required="required" type="password" placeholder="eg. X8df!90EO"/>
				</p>
<!--				<p class="keeplogin">
					<span class="custom-checkbox">
					  <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
					  <span class="box"><span class="tick"></span></span>
					</span>
					<label for="loginkeeping">Keep me logged in</label>
				</p>-->
				<p class="login buttWrap">
					<input type="submit" value="Login" class="btn btn-primary"/>
				</p>
				<p class="change_link">
					Not a member yet ?
					<a href="#toregister" class="to_register">Join us</a>
				</p>
			</form>
		</div>
	</div>
</div>
<%- include ../layout/footer.html %>