@font-face {
	font-family:'klavika';
	src:url('../fonts/klavika_2-webfont.eot');
	src:url('../fonts/klavika_2-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/klavika_2-webfont.woff') format('woff'),
	url('../fonts/klavika_2-webfont.svg#klavikabold') format('svg');
url('../fonts/klavika_2-webfont.ttf') format('truetype'),
font-weight:700;font-style:normal}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;text-shadow:0 1px 0 #fff;color:#5d5d5d;text-rendering:optimizelegibility}
textarea,select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	font-family:Arial,sans-serif;font-size:inherit;font-weight:inherit;resize:none;color:#b5b0aa;line-height:17px;padding:7px 10px;
	border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #c9c5c1;background-color:#f9f9f9;min-height:17px;
	box-shadow:1px 0 4px rgba(61,61,61,.24) inset;-moz-box-shadow:1px 0 4px rgba(61,61,61,.24) inset;-webkit-box-shadow:1px 0 4px rgba(61,61,61,.24) inset;
	-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s
}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;font-style:italic}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999;font-style:italic}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;font-style:italic}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}

textarea:focus,select:focus,input:focus{background-color:#fff}
em{font-style:italic}
img{max-width:100%;width:auto\9;height:auto;vertical-align:top;-ms-interpolation-mode:bicubic}
h2{font-size:2.5em}
a{color:#369;text-decoration:none;cursor:pointer}
a:hover{text-decoration:none;color:#008ed3}
a,a:active,a:visited,img,input,textarea,select,button{outline:0}
.clearfix{visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0}
.fleft{float:left!important}
.fright{float:right!important}
html,body{background:url(../images/bg/bg-pattern.png) repeat scroll 50% 50% #efefef;min-width:1000px}
html,body,#pageLayout{height:100%}
body{font-family:Arial,sans-serif;font-size:12px;color:#363636;vertical-align:middle;background:url(../images/bg/bg-border.jpg) repeat-x}
header{position:relative;font-size:13px;text-shadow:0 1px #fff;display:table;width:100%;margin-top:24px}
#logo{font-family:klavika,Arial,sans-serif;text-shadow:1px 1px 0 #F2F2F2, 1px 2px 0 #B1B1B2;color:#369;float:left;margin-top:-8px;position:relative}
#logo a{letter-spacing:-3px;font-size:50px;line-height:40px;}
#logo strong{font-weight:300;position:absolute;left:0;top:40px;letter-spacing:9px;font-size:18px;text-transform:uppercase;line-height:25px}
#logo span{height:24px;width:289px;/*background:url(../images/bg/details_logo.png) no-repeat*/;position:absolute;left:160px;top:5px;opacity:0;z-index:3;
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
#logo:hover span{opacity:1}
nav,.inner_wrap,.infos,#register,#login,.search,.user_list{background-color:rgba(0,0,0,.01);border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;box-shadow:0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.2) inset}
nav{float:right;height:33px;width:590px;padding:7px}
.formItem{float:left;line-height:33px}
.formItem label{margin-left:10px}
nav input{width:150px;height:17px;margin:0 5px}
nav input,#usernamesignup{background-image:url(../images/icons/input-user.png);background-repeat:no-repeat;background-position:10px 50%;padding-left:40px!important}
input[type="password"]{background-image:url(../images/icons/input-pass.png);background-repeat:no-repeat;background-position:6px 50%}
input[type="email"]{background-image:url(../images/icons/input-email.png);background-repeat:no-repeat;background-position:8px 50%}

.button{display:inline;zoom:1;cursor:pointer;border:1px solid #bbb;overflow:visible;font-weight:700;text-decoration:none;white-space:nowrap;color:#666;line-height:29px;background-color:#ddd;background-image:linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)),url(data:image/png;base64,iVBORw0KGg[...]QmCC);transition:background-color .2s ease-out;background-clip:padding-box;border-radius:3px;-moz-border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,.2),0 2px 2px -1px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.3) inset;text-shadow:0 1px 0 rgba(255,255,255,.9);min-width:50px;text-align:center;margin:0 5px;padding:0 20px}
.button:hover{background-color:#eee;color:#555}
.button:active{background:#e9e9e9;position:relative;top:1px;text-shadow:none;box-shadow:0 1px 1px rgba(0,0,0,.3) inset;-moz-box-shadow:0 1px 1px rgba(0,0,0,.3) inset;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.3) inset}
.forgot{font-size:13px;margin:0 10px;font-family:klavika,Arial,sans-serif}
.formLogin{position:absolute;right:7px;top:7px;opacity:0;z-index:1;visibility:hidden}
.menu{font-family:klavika,Arial,sans-serif}
.menu li{float:left;text-transform:uppercase;position:relative;line-height:33px;font-size:16px;font-weight:700;z-index:2}
.menu a{color:#666;text-shadow:1px 1px #FFF;display:block;padding:0 14px}
.menu a:hover{color:#f60}
.menu li.current > a,.menu li.active a:hover{color:#369}
.menu li.current{top:0!important}
.sub-menu{width:150px;background-color:#F5F5F5;border:1px solid #ddd;position:absolute;top:32px;left:0;z-index:100;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:2px 1px 5px rgba(0,0,0,.1);-webkit-box-shadow:2px 1px 5px rgba(0,0,0,.1);-moz-box-shadow:2px 1px 5px rgba(0,0,0,.1);padding:5px 10px;opacity:0;visibility:hidden;
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.sub-menu li{float:none!important;border-bottom:1px dashed #ddd;line-height:40px;font-size:14px}
.sub-menu li:last-of-type{border:0 none}
.sub-menu a{padding:0 10px}
footer{background:#E5E5E5 url(../images/bg/bg-border2.jpg) repeat-x;height:104px;padding-top:15px;margin-top:-119px;position:relative;clear:both;overflow:hidden}
footer .menu li{line-height:54px}
.footer-widgets{position:relative;left:50%;width:960px}
.footer-widgets .menu{overflow:hidden;position:relative;left:-50%}
.footer-widgets .menu li{width:20%;text-align:center}
.footer-copyright{background-color:#369;overflow:hidden}
.copyright{width:1000px;height:50px;position:relative;text-align:center;margin:0 auto}
.cr{line-height:50px;color:#fff;text-transform:uppercase;font-size:12px;text-shadow:0 1px 0 #3C4C54;font-weight:700}
#pageLayout{position:relative;width:1000px;height:auto;min-height:100%;margin:0 auto;padding:0}
#main{padding-bottom:119px;width:100%}
.clearMain:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearMain{display:inline-block}
.inner_wrap{display:table;width:100%;margin:10px 0;min-height:100%}
.battle{position:relative;display:table;background:url(../images/bg/bg-battle.png) no-repeat 111px 78px}
a.action{width:50px;height:50px;display:block;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;position:absolute;background-color:#d6dae0;background-image:linear-gradient(top,#b2b7c0,#d6dae0);padding:5px}
a.action span{display:block;height:100%;box-shadow:1px 0 1px #a3a6ad;-moz-box-shadow:1px 0 1px #a3a6ad;-webkit-box-shadow:1px 0 1px #a3a6ad;border-radius:30px;-moz-border-radius:30px;text-indent:-9999px;overflow:hidden;background-color:#cbcfd5;background-image:linear-gradient(top,#e0e4ea,#cbcfd5)}
a.atack span:before,.surrender span:before{background:url(../images/icons/atack.png);content:'';width:26px;height:24px;position:absolute;top:18px;left:17px;z-index:1}
a.action:hover span{box-shadow:1px 0 1px #a3a6ad,0 0 2px #999 inset;-moz-box-shadow:1px 0 1px #a3a6ad,0 0 2px #999 inset;-webkit-box-shadow:1px 0 1px #a3a6ad,0 0 2px #999 inset}
a.action:active span{box-shadow:1px 1px 4px #888 inset;-moz-box-shadow:1px 1px 4px #888 inset;-webkit-box-shadow:1px 1px 4px #888 inset}
a.surrender span:before{background:url(../images/icons/surrender.png) no-repeat;top:19px;left:18px}
a.surrender:active span:before{background:url(../images/icons/surrender-active.png) no-repeat}
a.atack:active span:before{background:url(../images/icons/atack-active.png) no-repeat}
a.atack{left:45px;top:210px}
a.surrender{right:50px;bottom:230px}
.playerOne,.playerTwo{position:relative;float:left;width:100%}
.playerTwo{float:right;height:72px}
.playerTwo:before{background-color:red}
.avatar{position:absolute;left:10px;top:10px;background-color:#ddd;box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;padding:10px}
.avatar img,.avatar{border-radius:100px;-moz-border-radius:100px;-webkit-border-radius:100px}
.avatar img{display:block}
.yourMove{box-shadow:0 0 15px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:0 0 15px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:0 0 15px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset}
.playerTwo .avatar{left:auto;right:10px;top:auto;bottom:10px}
.playerTwo .heart{float:right;margin:0 0 0 10px}
.playerTwo .playerName{text-align:right}
.playerTwo .net{left:auto;right:10px;top:auto;bottom:147px}
.playerTwo .playerStatus{float:right;margin:15px 150px 0 20px}
.playerTwo .elements{float:left;margin-left:15px}
.net{color:#888;position:absolute;top:140px;left:10px;width:120px;text-align:center;font-family:klavika,Arial,sans-serif;line-height:20px;font-size:16px;text-transform:lowercase;text-shadow:1px 1px #fff}
.greenFont{color:green}
.playerStatus{position:relative;float:left;font-weight:700;font-family:klavika,Arial,sans-serif;font-size:16px;margin:10px 0 0 150px}
.cardInfo{box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 0 rgba(0,0,0,.2) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 0 rgba(0,0,0,.2) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 0 rgba(0,0,0,.2) inset;position:relative;border-radius:5px;-moz-border-radius:5px;background-color:#f5f5f5;border:1px solid #E5E5E5;float:left;font-weight:700;font-family:klavika,Arial,sans-serif;font-size:16px;margin:10px 0 0 150px;padding:9px}
.playerHealth{float:left;color:#fff;text-shadow:1px 1px 1px #aaa;line-height:24px;width:24px;text-align:center;background-color:#f85100;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;font-size:16px;padding:3px}
.sliderHealth{float:left;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding-left:30px;background-color:#fff;line-height:30px;height:30px;margin-left:10px;position:relative;width:170px;box-shadow:1px 1px 5px rgba(0,0,0,.1) inset;-moz-box-shadow:1px 1px 5px rgba(0,0,0,.1) inset;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.1) inset}
.sliderHealth .rate{text-indent:28px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;position:absolute;left:1px;top:1px;width:70%;height:28px;background:url(../images/bg/bg-health.png) no-repeat 6px 6px #e5e5e5;letter-spacing:-1px;box-shadow:1px 1px 5px rgba(0,0,0,.3) inset;-moz-box-shadow:1px 1px 5px rgba(0,0,0,.3) inset;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.3) inset}
.playerName{float:left;width:200px;overflow:hidden;line-height:40px;letter-spacing:-1px;font-size:20px}
.elements{width:380px;float:right;margin:10px 0 0}
.elements img,.elements span{border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px}
.elements img{min-height:50px;min-width:50px;max-height:150px;max-width:150px}
.elements li,.elements h2 strong{cursor:pointer;width:40px;height:40px;float:left;position:relative;text-align:center;background-color:#ddd;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;margin:0 5px;padding:5px}
.elements li.active,.elements li.active i,.elements li.active:hover,.elements li.active:hover i{background-color:#63d0e5;color:#000;box-shadow:2px 2px 2px rgba(255,255,255,.5),0 1px 1px rgba(0,0,0,.3) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.3) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.3) inset}
.elements li:hover,.elements li:hover i,.deckItem:hover{background-color:#fbf7bb;color:#3a3838;box-shadow:2px 2px 2px rgba(255,255,255,.5),0 1px 1px rgba(0,0,0,.3) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.3) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.3) inset}
.elements span{overflow:hidden;display:block;height:40px;background-repeat:no-repeat}
.elements .count{background-color:#ddd;font-size:13px;line-height:20px;width:20px;position:absolute;right:-7px;bottom:-7px;text-shadow:1px 1px #fff;font-family:klavika,Arial,sans-serif;font-style:normal;box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;border-radius:10px;-moz-border-radius:10px;color:#7e6e65}
.elements .fire span{background-image:url(../images/bg/el-fire.jpg)}
.elements .water span{background-image:url(../images/bg/el-water.jpg)}
.elements .air span{background-image:url(../images/bg/el-air.jpg)}
.elements .earth span{background-image:url(../images/bg/el-earth.jpg)}
.elements .life span{background-image:url(../images/bg/el-life.jpg)}
.elements .death span{background-image:url(../images/bg/el-death.jpg)}
.battleground{position:relative;float:left;width:656px;height:310px;margin:20px 0 5px 175px;padding:10px}
.c1{color:#63d0e5}
.c2{color:#caeae9}
.c3{color:#ebeddf}
.c4{color:#f48a32}
.c6{color:#3a3838}
.c7{color:#7e6e65}
.c8{color:#fbf7bb}
.c9{color:#fd4f0c}
.c10{color:#fe0000}
.deckItem{top:0;background-color:#ddd;font-size:13px;line-height:20px;position:absolute;text-shadow:1px 1px 1px #fff;font-family:klavika,Arial,sans-serif;font-style:normal;box-shadow:2px 2px 2px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:2px 2px 2px rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2) inset;border-radius:2px;-moz-border-radius:2px;color:#7e6e65;width:116px;height:150px;text-align:center;cursor:default}
.deckTwo .deckItem{top:170px}
.deckItem img{height:124px;width:110px}
.magic img{height:110px;width:110px;border-radius:60px;-moz-border-radius:60px;-webkit-border-radius:60px;margin-top:7px;box-shadow:0 0 2px #bbb;-moz-box-shadow:0 0 2px #bbb;-webkit-box-shadow:0 0 2px #bbb}

.deckList .selected,.deckList .selected .name,.deckList .selected:hover .name{background-color:#fbf7bb}
.deckList .selected{box-shadow:0 0 10px rgba(0,0,0,.5);-moz-box-shadow:0 0 10px rgba(0,0,0,.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,.5)}
.deckList .active,.deckList .active .name,.deckList .active:hover .name{background-color:#61BA4D}
.deckList .active{box-shadow:0 0 10px rgba(0,0,0,.5);-moz-box-shadow:0 0 10px rgba(0,0,0,.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,.5)}

.deckItem:hover .name{background-color:#fbf7bb}
.deckItem i{font-size:13px;line-height:20px;width:20px;position:absolute;text-shadow:1px 1px #fff;font-family:klavika,Arial,sans-serif;font-style:normal;border-radius:10px;-moz-border-radius:10px;color:#7e6e65;z-index:1}
.deckItem .element{left:-3px;top:-3px;overflow:hidden;height:20px;box-shadow:1px 1px 2px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.2) inset;-moz-box-shadow:1px 1px 2px rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.2) inset;-webkit-box-shadow:1px 1px 2px rgba(255,255,255,.31), 0 1px 1px rgba(0,0,0,.2) inset}
.fire .element{background:url(../images/bg/el-fire-small.jpg) no-repeat}
.water .element{background:url(../images/bg/el-water-small.jpg) no-repeat}
.air .element{background:url(../images/bg/el-air-small.jpg) no-repeat}
.earth .element{background:url(../images/bg/el-earth-small.jpg) no-repeat}
.life .element{background:url(../images/bg/el-life-small.jpg) no-repeat}
.death .element{background:url(../images/bg/el-death-small.jpg) no-repeat}
.deckItem .level{right:-3px;top:-3px;background-color:#4F97BD;color:#fff;text-shadow:none}
.deckItem .monsterHealth{right:-4px;bottom:-3px;background:url(../images/bg/bg-heart.png) no-repeat;color:#fff;text-shadow:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;height:22px;width:24px;line-height:19px}
.deckItem .atack{left:-13px;bottom:-9px;color:#fff;text-shadow:none;line-height:43px;background:url(../images/bg/bg-atack.png) no-repeat 50% 50%;width:36px;height:39px;padding-right:4px}
.deckItem span.image{width:110px;height:144px;overflow:hidden;display:block;margin:3px}
.deckItem .spell{position:absolute;bottom:30px;left:30px;right:30px;font-family:klavika,Arial,sans-serif;font-size:12px;background-color:#f5f5f5;text-transform:uppercase;line-height:20px;border-radius:3px;-moz-border-radius:3px;font-weight:700;z-index:1}
.deckItem .spell:hover{background:#ccc}
.deckItem .spell:active,.deckItem .spell:focus{background:#ddd;color:#000;text-shadow:0 1px 1px #fff}
.deckItem .spell:focus{box-shadow:0 0 5px #fbf7bb;-moz-box-shadow:0 0 5px #fbf7bb;-webkit-box-shadow:0 0 5px #fbf7bb}
.deckItem .name{position:absolute;bottom:0;left:3px;right:3px;z-index:0;background-color:#ddd;line-height:16px;font-weight:400;font-family:klavika,Arial,sans-serif;font-size:13px;padding:3px 0}
.magic .name{text-transform:lowercase;color:#555}
.deckList .active .name{color:#000;text-shadow:0 1px 1px #fff}

.cardsWrap{float:left;position:relative;width:404px;height:170px;overflow:hidden;margin:10px;padding:0 30px}
.cards .deckItem,.cardInfo .deckItem{position:relative;float:left;left:0;top:0;cursor:alias;overflow:visible!important;margin:10px 9px}
.cards .deckList{overflow:hidden}
.prev,.next{position:absolute;text-indent:-9999px;overflow:hidden;width:30px;height:100%;top:0;left:0;background:url(../images/icons/prev.png) no-repeat 0 50%;opacity:.3;z-index:3;border:0 none}
.next{background:url(../images/icons/next.png) no-repeat 0 50%;left:auto;right:0}
.prev:hover,.next:hover{opacity:1}
.ava-info,.whoMove{font-family:klavika,Arial,sans-serif;text-transform:uppercase;position:absolute;background:rgba(63,147,147,0.8);top:0;left:0;right:0;bottom:0;border-radius:100px;-moz-border-radius:100px;overflow:hidden;opacity:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);text-align:center;letter-spacing:-.5px;z-index:2}
.ava-info h3{color:#fff;font-size:16px;line-height:30px;font-weight:700;display:block;margin:35px 10px 0}
.ava-info a{font-size:14px;line-height:20px;color:rgba(255,255,255,.9)}
.ava-info a:hover{border-bottom:1px solid rgba(255,255,255,.3)}
.avatar:hover{box-shadow:inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.1)}
.avatar:hover .whoMove{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);opacity:0}
.avatar:hover .ava-info{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
.cardInfo{width:476px;position:relative;float:right;line-height:20px;margin:10px;padding:9px 9px 4px}
.cardInfo .deckItem{cursor:default;margin:0 20px 5px 0}
.cardInfo h4{font-size:18px;letter-spacing:-1px;text-transform:uppercase;font-weight:700;text-align:center;color:#61BA4D}
.cardInfo p{font-size:14px;color:#7E6E65;text-align:center}
.cardInfo p.ability{padding-bottom:10px}
.cardInfo i{color:#000;font-weight:700;font-family:klavika,Arial,sans-serif}
.hide,.magic .monsterHealth,.magic .atack,.cards .deckItem .spell{display:none}
.menu li:hover > .sub-menu, .cards .active .spell{opacity:1}
.menu li:hover > .sub-menu {visibility:visible}
.redFont,.c5{color:#f85100}
.moveOne .deckTwo,.moveOne .playerTwo,.moveTwo .deckOne,.moveTwo .playerOne{opacity:.7}

.whoMove{opacity:1;letter-spacing:0;padding:40px 10px;font-size:13px;font-weight:700;color:#fff;text-shadow:1px 1px 2px #000;line-height:20px;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);z-index:1}
.redMove{background:rgba(248,81,0,0.8)}
.greenMove{background:rgba(97,186,77,0.8)}

.glowToCallGreen{box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(97,186,77,.5);-moz-box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(97,186,77,.5);-webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(97,186,77,.5)}
.glowToCallRed{box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(248,81,0,.5);-moz-box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(248,81,0,.5);-webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,.2),0 0 5px 1px rgba(248,81,0,.5)}
.glowToCallGreen:after,.glowToCallRed:after{background-color:rgba(97,186,77,.5);position:absolute;left:0;right:0;top:0;bottom:0;z-index:0;content:""}
.glowToCallRed:after{background-color:rgba(248,81,0,.5)}

.glowToCallRed p.name{color:#000}
.clickHere{padding:55px 0;float:left;width:100%;display:none;text-shadow:0 1px 2px #fff;color:#000}

.playerAnimate,.battleAnimate{top:0;bottom:0;right:0;left:0;position:absolute;z-index:10}

.sOverlay{background-color:rgba(255,255,255,.95);left:0;right:0;bottom:0;top:0;position:absolute;overflow:hidden;z-index:1000;text-align:center;font-size:18px;line-height:50px;color:#888;text-shadow:1px 1px 1px #ddd;border-radius:7px;-moz-border-radius:7px}
.sOverlay .text{font-family:klavika,Arial,sans-serif;text-transform:uppercase}
.sOverlay .text,.preLoader{display:table-row;vertical-align:middle;height:50%;letter-spacing:10px}
.preLoader span{display:block;background:url(../images/loading.gif) no-repeat 50% 100%;width:100%;height:100%}
.loading{display:table;text-align:center;width:100%;height:100%}
.disabledCard{background-color:rgba(0,0,0,.35);bottom:0;left:0;right:0;top:0;position:absolute}
/* notifications */
.gameNotif{position:fixed;top:0;right:0;color:#fff;z-index:9999;font-family:Tahoma,Arial,Helvetica,sans-serif;line-height:18px}
.gameNotification,.gameNotif-closer{margin:10px;padding:10px;width:250px;background-color:#40444D;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px rgba(0,0,0,.45);-moz-box-shadow:0 0 3px rgba(0,0,0,.45);-webkit-box-shadow:0 0 3px rgba(0,0,0,.45);opacity:.9;text-shadow:0 1px 0 rgba(0,0,0,.5)}
.gameNotif .primary{background-color:#E74949}
.gameNotif .danger{background-color:#f85100}
.gameNotif .info{background-color:#4986E7}
.gameNotif .success{background-color:#6B9B20}
.gameNotification:hover{background-color:#404040}
.gameNotif-closer{-moz-box-shadow:0 0 3px rgba(0,0,0,.45);-webkit-box-shadow:0 0 3px rgba(0,0,0,.45);box-shadow:0 0 3px rgba(0,0,0,.45);opacity:.35;text-align:center;font-size:11px;font-weight:700;padding:4px 10px;cursor:pointer}
.gameNotif-closer:hover{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;opacity:.9}
.gameNotif-close{cursor:pointer;float:right;font-size:1em;font-weight:700;z-index:99}
.gameNotif-header{font-size:11px;font-weight:700}
.gameNotif-message a{border-bottom:1px dotted;text-decoration:none;color:#fff}
.gameNotif-message a:hover{border-bottom-color:transparent;text-decoration:none}

/* SLDIER */
#slides{position:relative;z-index:1;padding:10px 0;display:table;height:533px;width:100%}
.slides_container{width:1000px;height:500px;overflow:hidden;position:relative;display:none;margin:0 auto;box-shadow:0 0 8px rgba(144,152,158,.7);-webkit-box-shadow:0 0 8px rgba(144,152,158,.7);-moz-box-shadow:0 0 8px rgba(144,152,158,.7)}
.slides_container img{width:1000px}
#slides .slide{width:100%;height:100%;display:block}
#slides .prev{left:-40px}
#slides .next{left:auto;right:-40px}
.pagination{margin:10px auto 0;width:150px;overflow:hidden}
.pagination li{float:left;margin:0 1px}
.pagination li a{width:23px;height:23px;background:url('../images/icons/circle.png') no-repeat 50% 50%;float:left;overflow:hidden;text-indent:-9999px}
.pagination li.current a{background-image:url('../images/icons/circle-active.png')}

.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear}
.fade.in{opacity:1}

.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease}
.collapse.in{height:auto}
/* BUTTONS */
.btn{display:inline-block;padding:6px 0;font-size:13px;line-height:19px;text-align:center;vertical-align:middle;cursor:pointer;color:#333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);border:1px solid #C9C5C1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;min-width:100px;font-family:klavika,Arial,sans-serif;
	background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #fff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);background-image:-o-linear-gradient(top, #fff, #e6e6e6);background-image:linear-gradient(to bottom, #fff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#ffe6e6e6', GradientType = 0);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255, .2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255, .2), 0 1px 2px rgba(0,0,0,.05)}
.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6}
.btn:active,.btn.active{background-color:#ccc \9}
.btn:hover{color:#333;text-decoration:none;background-color:#e6e6e6;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity = 65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-primary.active,btn-success.active,btn-info.active{color:rgba(255,255,255,.75)}

.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#e77149 #e77149 #c9461b;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	background-color:#e75949;background-image:-moz-linear-gradient(top, #e74949, #e77149);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e74949), to(#e77149));background-image:-webkit-linear-gradient(top, #e74949, #e77149);background-image:-o-linear-gradient(top, #e74949, #e77149);background-image:linear-gradient(to bottom, #e74949, #e77149);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffe74949', endColorstr = '#ffe77149', GradientType = 0)}
.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#e77149}
.btn-primary:active,.btn-primary.active{background-color:#e04e1d \9;}

.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25);border-color:#4e7117 #4e7117 #22310a;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	background-color:#5f8a1d;background-image:-moz-linear-gradient(top, #6b9b20, #4e7117);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#6b9b20), to(#4e7117));background-image:-webkit-linear-gradient(top, #6b9b20, #4e7117);background-image:-o-linear-gradient(top, #6b9b20, #4e7117);background-image:linear-gradient(to bottom, #6b9b20, #4e7117);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff6b9b20', endColorstr = '#ff4e7117', GradientType = 0)}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#4e7117}
.btn-success:active,.btn-success.active{background-color:#31460f \9}

.btn-info{color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#495fe7 #495fe7 #1b32c9;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	background-color:#4976e7;background-image:-moz-linear-gradient(top, #4986e7, #495fe7);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4986e7), to(#495fe7));background-image:-webkit-linear-gradient(top, #4986e7, #495fe7);background-image:-o-linear-gradient(top, #4986e7, #495fe7);background-image:linear-gradient(to bottom, #4986e7, #495fe7);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff4986e7', endColorstr = '#ff495fe7', GradientType = 0);}
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#495fe7}
.btn-info:active,.btn-info.active{background-color:#1d38e0 \9}

.btn-group{position:relative;display:inline-block;font-size:0;vertical-align:middle;white-space:nowrap}
.btn-group + .btn-group{margin-left:5px}
.btn-group > .btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group > .btn + .btn{margin-left:-1px}
.btn-group > .btn:first-child{margin-left:0;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px}
.btn-group > .btn:last-child{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}

/* END BUTTONS */
.findGame{text-align:center;padding:20%}
/* sign in page */
.form_wrapper{margin:15px 0;position:relative;font-family:klavika,Arial,sans-serif}
a.hiddenanchor{display:none}
#wrapper{min-height:600px;margin:0 auto;width:600px;position:relative}
#wrapper h3{font-size:30px;line-height:34px;font-weight:700;text-align:center;padding-bottom:30px}
#wrapper h3:after,.change_link:before{content:'';display:block;width:100%;height:1px;margin-top:10px;text-transform:capitalize;background-color:#ccc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkNWQ1ZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzVkNWQ1ZCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNWQ1ZDVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjNWQ1ZDVkIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNWQ1ZDVkIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(93,93,93,0) 0%, rgba(93,93,93,0.5) 25%, rgba(93,93,93,1) 50%, rgba(93,93,93,0.5) 75%, rgba(93,93,93,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(93,93,93,0)), color-stop(25%,rgba(93,93,93,0.5)), color-stop(50%,rgba(93,93,93,1)), color-stop(75%,rgba(93,93,93,0.5)), color-stop(100%,rgba(93,93,93,0)));
	background: -webkit-linear-gradient(left,  rgba(93,93,93,0) 0%,rgba(93,93,93,0.5) 25%,rgba(93,93,93,1) 50%,rgba(93,93,93,0.5) 75%,rgba(93,93,93,0) 100%);
	background: -o-linear-gradient(left,  rgba(93,93,93,0) 0%,rgba(93,93,93,0.5) 25%,rgba(93,93,93,1) 50%,rgba(93,93,93,0.5) 75%,rgba(93,93,93,0) 100%);
	background: -ms-linear-gradient(left,  rgba(93,93,93,0) 0%,rgba(93,93,93,0.5) 25%,rgba(93,93,93,1) 50%,rgba(93,93,93,0.5) 75%,rgba(93,93,93,0) 100%);
	background: linear-gradient(to right,  rgba(93,93,93,0) 0%,rgba(93,93,93,0.5) 25%,rgba(93,93,93,1) 50%,rgba(93,93,93,0.5) 75%,rgba(93,93,93,0) 100%)}
#wrapper p{margin-bottom:15px}
#wrapper label{color:#5d5d5d;font-size:14px;position:relative;line-height:18px}
/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){width:478px;margin-top:4px;font-size:14px;padding:10px 10px 10px 40px;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear}
.buttWrap{text-align:right}
#wrapper .buttWrap input{width:100px;padding:6px 0;margin:0}
.keeplogin{margin-top:-5px;}
.keeplogin label{margin-left:10px}
#wrapper .change_link{margin:30px 0 0;padding-top:15px;position:relative;font-size:14px;text-align:center}
.change_link:before{position:absolute;width:528px;top:0;margin:0;left:0}
#wrapper p.change_link a{display:inline-block;font-weight:700;background:rgba(255,255,255,.5);padding:2px 6px;color:#63d0e5;margin-left:10px;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:all .4s linear;-moz-transition:all .4s  linear;-o-transition:all .4s linear;-ms-transition:all .4s  linear;transition:all .4s  linear}
#wrapper p.change_link a:hover{color:#369;background:rgba(255,255,255,.7)}
#wrapper p.change_link a:active{position:relative;top:1px}
#register,#login{position:absolute;top:0;width:88%;padding:4% 6%}
#login{z-index:21;opacity:0}
#register{z-index:22}
#toregister:target ~ #wrapper #register,#tologin:target ~ #wrapper #login{z-index:22;-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-ms-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;-ms-animation-delay:.1s;animation-delay:.1s}
#toregister:target ~ #wrapper #login,#tologin:target ~ #wrapper #register{-webkit-animation-name: fadeOutLeftBig;-moz-animation-name: fadeOutLeftBig;-ms-animation-name: fadeOutLeftBig;-o-animation-name: fadeOutLeftBig;animation-name: fadeOutLeftBig}
.animate{-webkit-animation-duration:1s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;
	-moz-animation-duration:1s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;
	-o-animation-duration:1s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;
	-ms-animation-duration:1s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;
	animation-duration:1s;animation-timing-function:ease;animation-fill-mode:both}

.custom-checkbox,.custom-radio{position:relative;display:inline-block;vertical-align:text-bottom}
.custom-checkbox > .box,.custom-radio > .box{position:relative;display:block;width:14px;height:14px;border:1px solid #ccc;background-color:#eee;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;margin-right:3px}
.custom-checkbox > .box > .tick{position:absolute;left:2px;top:-2px;width:14px;height:6px;border-bottom:2px solid #5d5d5d;border-left:2px solid #5d5d5d;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);display:none}
.custom-checkbox > input:checked + .box > .tick,.custom-radio > input:checked + .box > .circle{display:block}
.custom-checkbox > input,.custom-radio > input{position:absolute;outline:none;left:0;top:0;padding:0;width:16px;height:16px;border:none;margin:0;opacity:0;z-index:1;cursor:pointer}
.custom-checkbox > input:active + .box,.custom-radio > input:active + .box{border-color:#aaa;background-color:#ddd}

.custom-radio > .box{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px}
.custom-radio > .box > .circle{position:absolute;left:2px;top:2px;width:10px;height:10px;display:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#5d5d5d}

/* MODAL */
.popup_overlay{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(255,255,255,.95);text-align:center;z-index:1000}
.popup_overlay:after{display:inline-block;height:100%;width:0;vertical-align:middle;content:''}
.popup{
	display:inline-block;
	position:relative;
	max-width:80%;
	padding:20px;
	background-color:rgba(0,0,0,.01);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px rgba(0,0,0,.15);-moz-box-shadow:0 0 3px rgba(0,0,0,.15);-webkit-box-shadow:0 0 3px rgba(0,0,0,.15);
	vertical-align:middle;
	border:1px solid #BEC2C8;
}
.popup_close {
	display: block;
	position: absolute;
	top: -20px;
	right: 10px;
	width: 12px;
	height: 12px;
	padding: 8px;

	cursor: pointer;
	background: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #444;
	text-decoration: none;
	font-weight: bold
}
.popup_close:hover {
	background: #ddd
}

/* FIGHT LOG */
.log{color:#3a3838;padding:10px;position:relative;font-size:13px;overflow:hidden}
.log ul{overflow:hidden;height:32px;float:left;width:95%}
.log .show_log{position:absolute;right:10px;top:10px;height:32px;width:32px;overflow:hidden}
.log li{line-height:16px}
.log span{color:#E74949}
.log i{color:#4986E7}

.show_log .page{width:20px;height:28px;background-color:rgba(255,255,255,.4);margin-left:4px;border:2px solid rgba(0,0,0,.4);display:block;
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.show_log .page:before,.show_log .page:after,.show_log .pageLines:after,.show_log .pageLines:before{position:absolute;content:'';height:2px;width:16px;background-color:rgba(0,0,0,.4);margin:5px 2px 0 2px;
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.show_log .page:after{margin:9px 2px 0 2px}
.show_log .pageLines{height:2px;width:16px;position:absolute;left:8px;top:15px;background-color:rgba(0,0,0,.4);display:block;
	-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.show_log .pageLines:after{margin:4px 0 0 0}
.show_log .pageLines:before{margin:8px 0 0 0}

.log .show_log:hover .page{border-color:rgba(0,0,0,.7)}
.show_log:hover .page:before,.show_log:hover .page:after,.show_log:hover .pageLines:after,.show_log:hover .pageLines:before,.show_log:hover .pageLines{background-color:rgba(0,0,0,.7)}
/* heart */
.heart{position:relative;height:44px;width:47px;float:left;margin-right:10px;overflow:hidden}
.heart div{position:relative;width:24px;height:24px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);background-color:#F85100;margin:12px}
.heart span{font-size:18px;display:block;line-height:40px;position:absolute;z-index:10;color:#fff;text-shadow:1px 1px 1px #aaa;left:2px;top:0;bottom:0;right:0;text-align:center}
.heart div:before,.heart div:after{background-color:#F85100;position:absolute;content:'';-webkit-border-radius:12px 0 0 12px;-moz-border-radius:12px 0 0 12px;border-radius:12px 0 0 12px;width:24px;height:24px;left:-12px}
.heart div:after{position:absolute;left:0;top:-12px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.heart div{-o-animation:beat 2.5s ease 0s infinite normal;-ms-animation:beat 2.5s ease 0s infinite normal;-webkit-animation:beat 2.5s ease 0s infinite normal;-moz-animation:beat 2.5s ease 0s infinite normal;animation:beat 2.5s ease 0s infinite normal}

/* SEARCH */
.search,.user_list{margin:10px 10px 10px 0;font-family:klavika,Arial,sans-serif;position:relative;padding:10px;width:700px;float:left;font-size:14px;color:#5d5d5d;text-shadow:0 1px 1px #fff}
.search h3,.user_list h3{font-size:20px;line-height:20px;padding-bottom:10px}
.search .row{clear:both;padding:5px 0;line-height:16px;display:table}
.search .row label{display:inline-block;text-transform:lowercase}
.search .advancedSearch{margin-left:30px;display:none}
.search .advancedSearch label:not([class="with_r"]){float:left;margin:0 5px 0 20px;width:70px;line-height:33px}
.search .advancedSearch input[type="text"]{float:left;width:120px}
.search .with_rate{margin-left:20px}

#findGame{position:absolute;right:15px;bottom:15px}

/* USER LIST */
.user_list{width:250px;margin:10px 0 0;float:right}
.form-wrapper input{width:130px;float:left}
.form-wrapper button{position:relative;float:left;border:0 none;margin-left:-3px;cursor:pointer;height:33px;width:101px;color:#fff;text-transform:uppercase;background-color:#d83c3c;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;text-shadow:0 -1px 0 rgba(0,0,0,.3)}
.form-wrapper button:hover{background-color:#e54040}
.form-wrapper button:active,.form-wrapper button:focus{background:#c42f2f;outline:0}
.form-wrapper button:before{content:'';position:absolute;border-width:8px 8px 8px 0;border-style:solid solid solid none;border-color:transparent #d83c3c transparent;top:9px;left:-6px}
.form-wrapper button:hover:before{border-right-color:#e54040}
.form-wrapper button:focus:before,.form-wrapper button:active:before{border-right-color:#c42f2f}
.form-wrapper button::-moz-focus-inner{border:0;padding:0}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.alert h4 {
    margin: 0;

}

.alert .close {position: relative;top: -2px;right: -21px;line-height: 20px;}

.alert-success {color: #468847; background-color: #dff0d8;border-color: #d6e9c6;
}

.alert-danger,
.alert-error {color: #b94a48; background-color: #f2dede;border-color: #eed3d7;}

.alert-info {color: #3a87ad;background-color: #d9edf7;border-color: #bce8f1;}

.alert-block {padding-top: 14px;padding-bottom: 14px;}

.alert-block > p,
.alert-block > ul {margin-bottom: 0;}

.alert-block p + p {margin-top: 5px;}

/* page ABOUT */
.pageAbout{padding:15px;font-size:14px;line-height:20px}
.pageAbout h4{padding-bottom:5px;border-bottom:1px dashed #5d5d5d;font-size:16px;line-height:30px;font-weight:700;margin:10px 0}
.pageAbout h4:first-of-type{margin-top:0}
.pageAbout p{padding:5px 0}
.pageAbout img{vertical-align:middle;}
.pageAbout h4.media-heading{font-size:16px;border-bottom:none}
.pageAbout .media-object{float:left;margin-right:15px}
.pageAbout .media-list{overflow:hidden;padding-bottom:15px;margin-bottom:20px;border-bottom:1px solid rgba(200,200,200,.1);margin-bottom:10px;box-shadow:10px 5px 20px -10px #fff;-moz-box-shadow:10px 5px 20px -10px #fff;-webkit-box-shadow:10px 5px 20px -10px #fff}
/* page CARDS */
.pageCards .cardInfo{float:left;min-height:190px}
.elementName img{}
.pageCards .elements{padding:10px 5px;overflow:hidden;margin:0;width:auto;;float:none;clear:both}
.elements h2 strong{cursor:default;margin-right:10px}
.elements h2{font-family:klavika,Arial,sans-serif;font-size:35px;text-shadow:1px 1px 0 #F2F2F2, 1px 2px 0 #B1B1B2;line-height:50px;}

.main_page{margin-top:30px}

.monsterCh {
    position: absolute;top: 60px;left: 30px;opacity: 0;font-size: 16px;
}

.label,
.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge-important {
    background-color: #b94a48;
    font-size: 25px;
}

.badge-success {
    background-color: #468847;
    font-size: 25px;
}

.playerLivesBadge {
    position: absolute;top: 16px;opacity: 0;
}