<%- include ../layout/header.html %>
<div class="inner_wrap">
	<div class="pageAbout">
		<h4>BASIC INFO</h4>
		<p>"Warlock: Astarion Tournament" - strategy, a cross between "Magic: the Gathering" and chess.<br/>
			It is not required to win the ability to quickly press a button and just rolls the mouse - is all about
			intelligence and strategic thinking.
			Basis "Warlock" - thought the game mechanics, careful balance.</p><br/>
		<p>Warlock - a turn-based strategy, the logical card game in fantasy. In Warlock matches involving two rival for
			victory they use spells and magical creatures called.</p>

		<h4>DUEL RULES.</h4>
		<p>Each player starts with a fixed amount of health (50 by default) <img src="<%=conf.staticUrl%>/img/life.jpg" style="height:35px" alt=""/>,
			and all 6 of elemental schools <img src="<%=conf.staticUrl%>/img/elements.jpg"  style="height:35px" alt=""/> will
			receive elements using the folowing rules :
			the number of elements given to each elemental school at the start of duel ranges from 3 to 7. The amount
			given to all 6 elemental schools will total 30. </p>
		<p>The player who reduces opponents health to 0, Wins.</p>
		<p>Each player has the ability to cast one card per turn, whether it is a monster or spell.
			While casting player loses the amount of elements equal to the casting card's level.
			The player can choose one of the free slots for this monster to be summoned. Right after summon monster
			can't attack.
			If it is a spell, it works instantly and does not require a free slots.
		</p>
		<p>Before or after you summon a card, you can use cards own abilities, but only those having a cast button.
			These castings sometimes cost elements, others can cost something else, and sometimes they are free.
			They also can be targeted or untargeted ones.</p>
		<p>Once you're done with your cards, you end your turn. At the end of evenry turn, if you have monsters in your
			slots - they attack oposite slots of oponent.
			If there present oponent monsters - your card deal damage to them, if not - they deal damage directly to
			yoyr oponent.
			After that you pass turn to your opponent. Opponent gains +1 to each elemental school.
			Your opponent will then be able to summon a card, use summoned card's abilities or simply skip turn.
			This repeats until one of the warlocks loses all health. That player lose the duel</p>

		<h4>GAINING CARDS.</h4>
		<p>In the begininng of the duel, you gain 4-7 random cards for each elemental school - Fire, Water, Air, Earth,
			Death, Life, so you gain some amount of cards.
			Your opponent also gains the same amount, but they cannot be the same as the ones you receive.</p>

		<h4>CONTROL HINTS.</h4>
		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/display.jpg" style="width:373px"/>
				<span class="media-body">
					<h4 class="media-heading">Select cards</h4>
					Click elemental school icon (1) to show cards panel with element cards.
				</span>
			</li>
		</ul>

		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/info.jpg" style="width:373px"/>
				<span class="media-body">
					<h4 class="media-heading">Info panel</h4>
					Click card to see info about it on right side (2)
				</span>
			</li>
		</ul>

		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/info2.jpg" style="width:373px"/>
				<span class="media-body">
					<h4 class="media-heading">Cards info</h4>
					Blue circle shows card level and costs(2). Red heart shows starting healthpoints of the monster(1).
					Sword shows monster starting attack(3).
				</span>
			</li>
		</ul>

		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/call.jpg" alt=""/>
				<span class="media-body">
					<h4 class="media-heading">Call cards. Step 1</h4>
					Click "Call" button under cards pic (1)
				</span>
			</li>
		</ul>

		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/call2.jpg" style="width:373px"/>
				<span class="media-body">
					<h4 class="media-heading">Call cards. Step 2</h4>
					Choose free slot on battlefield to call monster in that slot (1)
				</span>
			</li>
		</ul>

		<ul class="media-list">
			<li class="media">
				<img class="media-object" src="<%=conf.staticUrl%>/img/ability.jpg" style="width:373px"/>
				<span class="media-body">
					<h4 class="media-heading">Casting abilities in the battle</h4>
					Click "Cast" button on the cards which in the battle. Then choose target highlited with red(2)(if enemy
					monster) or with green(if friendly monster). To cancel casting click "Cancel"(1).
					If none of the cards highlits after you tap cast, this means there are no propper targets for this casting
					or ability doesn't require target for casting.
				</span>
			</li>
		</ul>
	</div>
</div>

<%- include ../layout/footer.html %>