<%- include ../layout/header.html %>
<style>
  .elementName {
      float: left; width: 800px;padding-left: 20px;padding-top: 20px;
  }
</style>
    <div class="inner_wrap" style="width: 1050px">
	    <div class="pageCards">

	    </div>
    </div>


<script src="<%=conf.staticUrl%>/js/ejs.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/templates.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/actions.js"></script>

<script src="<%=conf.staticUrl%>/cls/UIAnimator.js"></script>
<script src="<%=conf.staticUrl%>/cls/Water.js"></script>
<script src="<%=conf.staticUrl%>/cls/Fire.js"></script>
<script src="<%=conf.staticUrl%>/cls/Earth.js"></script>
<script src="<%=conf.staticUrl%>/cls/Air.js"></script>
<script src="<%=conf.staticUrl%>/cls/Life.js"></script>
<script src="<%=conf.staticUrl%>/cls/Death.js"></script>
<script src="<%=conf.staticUrl%>/cls/GameActions.js"></script>
<script src="<%=conf.staticUrl%>/cls/Hero.js"></script>
<script src="<%=conf.staticUrl%>/cls/Desk.js"></script>
<script src="<%=conf.staticUrl%>/cls/CardsHero.js"></script>
<script src="<%=conf.staticUrl%>/cls/Creature.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/creatures.js"></script>
<%- include ../layout/footer.html %>