<%- include ../layout/header.html %>
    <div class="inner_wrap">
	    <div class="findGame">
		    need do <a target="_blank" href="https://github.com/Selvatico/magic-card-game/issues/15">THIS</a>
		    <div class="clearfix"></div>
            <button id="findGame" class="btn btn-primary" type="button">Find game</button>
            <button id="stopFind" class="btn disabled" type="button">Cancel</button>
	    </div>
    </div>
		<!--

<div class="user_list">
	<h3>Users:</h3>
	<form class="form-wrapper row">
		<input type="text" placeholder="Search user..." required="required"/>
		<button type="submit">Search</button>
	</form>
</div>


<div class="search">
	<h3>Search form:</h3>
	<button id="findGame" class="btn btn-primary" type="button">Find game</button>
	<div class="row">
		<span class="custom-radio">
			<input type="radio" name="search" id="random_search" value="random_search"/>
			<span class="box"><span class="circle"></span></span>
		</span>
		<label for="random_search">random search</label>
	</div>
	<div class="row">
		<span class="custom-radio">
			<input type="radio" name="search" id="level_search" value="level_search"/>
			<span class="box"><span class="circle"></span></span>
		</span>
		<label for="level_search">Find your level</label>
	</div>
	<div class="row">
		<span class="custom-radio">
			<input type="radio" name="search" id="advanced_search" value="advanced_search" class="adv"/>
			<span class="box"><span class="circle"></span></span>
		</span>
		<label for="advanced_search">Advanced search</label>
	</div>
	<div class="row">
		<div class="advancedSearch">
			<div class="row">
				<label for="rating[min]">Min. rating</label>
				<input type="text" name="rating[min]" id="rating[min]" required="required" value="1200"/>

				<label for="rating[max]">Max. rating</label>
				<input type="text" name="rating[max]" id="rating[max]" required="required" value="1200"/>
			</div>
			<div class="row">
				<label for="level[min]">Min. level</label>
				<input type="text" name="level[min]" id="level[min]" required="required" value="1"/>

				<label for="level[Max]">Max. level</label>
				<input type="text" name="level[Max]" id="level[Max]" required="required" value="1"/>
			</div>
			<div class="row with_rate">
				<span class="custom-checkbox">
					<input type="checkbox" name="withrating" id="withrating" value="withrating" />
					<span class="box"><span class="tick"></span></span>
				</span>
				<label for="withrating" class="with_r">with rating</label>
			</div>
		</div>
	</div>
</div>
-->
	<script src="/socket.io/socket.io.js"></script>
<%- include ../layout/footer.html %>