<%- include ../layout/header.html %>
<link rel="stylesheet" type="text/css" href="<%=conf.staticUrl%>/stylesheets/bootstrap.css" media="all"/>

<div class="inner_wrap">
    <div class="container-fluid">
        <div class="sOverlay" style="height: 551px;top: 75px; ">
            <div class="loading">
                <div class="preLoader"><span id="overLoader"></span></div>
                <div class="text">
                    <span id="mainText">Please wait. Connecting...</span>
                    <div id="overBtn" class="hide">
                        <div class="modal-footer">
                            <a href="/game/find3" class="btn btn-primary" style="letter-spacing:1px;padding: 2px">Find new game!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span9" style="height: 550px;padding: 5px;">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12" style="height: 220px;padding: 5px;">
                            <!--Find form-->
                            <h4>Find game</h4>
                            <hr style="margin-top: -6px;">
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Random Game Matchmaking
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Find oponent of my level (&plusmn;2)
                            </label>
<!--                            <label class="radio" >
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
                                Custom search
                            </label>

                            <form class="form-inline">
                                <input type="text" class="input-small" placeholder="">
                                <input type="password" class="input-small" placeholder="">
                            </form>-->
                            <div class="control-group" style="margin-top: 40px">
                                <div class="controls">
                                    <button type="button" class="btn btn-primary" id="findGame2">Find game</button>
                                    <button type="button" class="btn" id="stopFind">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" style="height: 270px;padding: 5px;">
                            <!--Chat-->
                            <h4>Chat Log</h4>
                            <hr style="margin-top: -6px;">
                            <ul style="overflow-y: scroll;height: 200px;" id="mainChatLog">
                                <!--<li>Chat msg 1</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" style="height: 45px;padding: 5px;">
                            <!--Chat-->
                            <form action="#" id="sendMessage">
                                <input id="chatInput" type="text" placeholder="Type your msg…" style="width: 530px;">
                                <button type="submit" class="btn" style="margin-bottom: 9px;">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3" style="height: 550px;padding: 5px;">
                <!--List of members-->
                <h4>Users On Page</h4>
                <hr style="margin-top: -1px;">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" class="span2 search-query" style="width: 190px;">
                        <button type="submit" class="btn" style="min-width: 20px;"><i class="icon-search"></i></button>
                    </div>
                </form>
                <ul id="usersList">
                    <% if(typeof users != "undefined") {%>
                    <% for (var user in users) { %>
                        <li data-username="<%=  users[user] %>"><i class="icon-user"></i><%=  users[user] %></li>
                    <% } %>
                    <% } %>
                </ul>

            </div>

        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<%- include ../layout/footer.html %>