<%- include ../layout/header.html %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<% if (found) {%>

<script type="text/javascript">
    var GameData = GameData || {};
    GameData.gameID = '<%= gameData.gameID %>';
    GameData.itself = JSON.parse('<%- JSON.stringify(gameData.itself) %>');
    GameData.me = JSON.parse('<%- JSON.stringify(gameData.me) %>');
    GameData.oponent = JSON.parse('<%- JSON.stringify(gameData.oponent) %>');
</script>
<style type="text/css">
    .monsterCh {
        position: absolute;top: 60px;left: 30px;opacity: 0;font-size: 16px;
    }

    .label,
    .badge {
        display: inline-block;
        padding: 2px 4px;
        font-size: 11.844px;
        font-weight: bold;
        line-height: 14px;
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        vertical-align: baseline;
        background-color: #999999;
    }

    .label {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .badge {
        padding-right: 9px;
        padding-left: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }

    .badge-important {
        background-color: #b94a48;
        font-size: 25px;
    }

    .badge-success {
        background-color: #468847;
        font-size: 25px;
    }

</style>

<div class="inner_wrap">
    <div class="battle "><!-- or moveTwo -->
        <div class="sOverlay">
			 <div class="loading">
				 <div class="preLoader"><span id="overLoader"></span></div>
				 <div class="text">
                     <span id="mainText">Please wait. Game loading</span>
                     <div id="overBtn" class="hide">
                         <div class="modal-footer">
                             <a href="/game/find3" class="btn btn-primary" style="letter-spacing:1px;padding: 2px">Find new game!</a>
                         </div>
                     </div>
                 </div>
			 </div>
		 </div> <!-- if you know what I mean -->
	    <canvas class="playerAnimate" id="playerAnimate" width="1000" height="478" style="display: none"></canvas><!-- if you know what I mean -->
        <a class="action atack" style="<% if (gameData.me.color != gameData.itself.currentTurn){%> display:none <% }%>" id="endMove" title="Atack"><span><img src="/images/icons/atack.png" alt=""/></span></a>
        <a class="action surrender" title="Surrender"><span>Surrender</span></a>

        <div class="playerOne blue" id="playerData_<%= gameData.oponent.uid %>">
            <div class="avatar yourMove">
                <img src="/images/player1.png" alt="" width="100" height="100"/>
                <div class="ava-info"><h3><%= gameData.oponent.login %></h3><a href="#">add to friends</a></div>
	            <div class="whoMove redMove <% if (gameData.oponent.color != gameData.itself.currentTurn){%> hide <% } %> " id="turn_<%= gameData.oponent.color %>">Oponent turn!</div>
            </div>
            <% if (gameData.oponent.status == -1) {%>
            <p class="net redFont">Offline</p>
            <% } else { %>
            <p class="net greenFont">Online</p>
            <% } %>
            <div class="playerStatus">
	            <div class="heart"><div></div><span><%= gameData.oponent.healthPoints %></span></div>
                <div class="playerName"><%= gameData.oponent.login %></div>
            </div>

            <ul class="elements" id="elements_<%= gameData.oponent.uid %>">
                <li class="water"><span></span><i class="count"><%= gameData.oponent.elementsResource.water %></i></li>
	            <li class="fire"><span></span><i class="count"><%= gameData.oponent.elementsResource.fire %></i></li>
                <li class="air"><span></span><i class="count"><%= gameData.oponent.elementsResource.air %></i></li>
                <li class="earth"><span></span><i class="count"><%= gameData.oponent.elementsResource.earth %></i></li>
                <li class="life"><span></span><i class="count"><%= gameData.oponent.elementsResource.life %></i></li>
                <li class="death"><span></span><i class="count"><%= gameData.oponent.elementsResource.death %></i></li>
            </ul>
        </div>

        <div class="battleground">
	        <canvas class="battleAnimate hide" id="battleAnimate"></canvas><!-- if you know what I mean -->
            <ul id="board_<%= gameData.oponent.uid %>" class="deckList deckOne">
                <li class="deckItem empty" style="left:10px">

                </li>
                <li class="deckItem empty" style="left:145px">

                </li>
                <li class="deckItem empty" style="left:280px">

                </li>
                <li class="deckItem empty" style="left:415px">

                </li>
                <li class="deckItem empty" style="left:550px">

                </li>
            </ul>
            <!-- TWO -->
            <ul id="board_<%= gameData.me.uid %>" class="deckList deckTwo">
                <li class="deckItem empty" style="left:10px" data-cell="1">
                    <span class="clickHere">Click here to call monster</span>
                </li>
                <li class="deckItem empty" style="left:145px" data-cell="2">
                    <span class="clickHere">Click here to call monster</span>
                </li>
                <li class="deckItem empty" style="left:280px" data-cell="3">
                    <span class="clickHere">Click here to call monster</span>
                </li>
                <li class="deckItem empty" style="left:415px" data-cell="4">
                    <span class="clickHere">Click here to call monster</span>
                </li>
                <li class="deckItem empty" style="left:550px" data-cell="5">
                    <span class="clickHere">Click here to call monster</span>
                </li>
            </ul>
        </div>

        <div class="playerTwo red" id="playerData_<%= gameData.me.uid %>">
            <div class="avatar">
                <img src="/images/player2.png" alt="" width="100" height="100"/>

	            <div class="whoMove greenMove <% if (gameData.me.color != gameData.itself.currentTurn){%> hide <% } %>" id="turn_<%= gameData.me.color %>">Your turn!</div>
            </div>
	        <% if (gameData.oponent.status == -1) {%>
                <p class="net redFont">Offline</p>
            <% } else { %>
                <p class="net greenFont">Online</p>
            <% } %>
            <div class="playerStatus">
	            <div class="heart"><div></div><span><%= gameData.me.healthPoints %></span></div>
                <div class="playerName"><%= gameData.me.login %></div>
            </div>

            <ul class="elements" id="elements_<%= gameData.me.uid %>">
                <li class="active water" data-elemetn="water"><span></span><i class="count"><%= gameData.me.elementsResource.water %></i></li>
                <li class="fire" data-elemetn="fire"><span></span><i class="count"><%= gameData.me.elementsResource.fire %></i></li>
                <li class="air" data-elemetn="air"><span></span><i class="count"><%= gameData.me.elementsResource.air %></i></li>
                <li class="earth" data-elemetn="earth"><span></span><i class="count"><%= gameData.me.elementsResource.earth %></i></li>
                <li class="life" data-elemetn="life"><span></span><i class="count"><%= gameData.me.elementsResource.life %></i></li>
                <li class="death" data-elemetn="death"><span></span><i class="count"><%= gameData.me.elementsResource.death %></i></li>
            </ul>
        </div>
    </div>


</div>

<div class="inner_wrap">
    <div class="cardsWrap">

        <div id="waterSlider" class="h1d">
        <a class="prev prevWater" href="javascript:void(0);">prev</a>
        <div class="cards cardsWater">
            <ul class="deckList">
            </ul>
        </div>
        <a class="next nextWater" href="javascript:void(0);">next</a>
        </div>

        <div id="fireSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="airSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next" href="javascript:void(0);">next</a>
        </div>


        <div id="earthSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="lifeSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="deathSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>


    </div>

    <div class="cardInfo hide">
        <h4>Satyr</h4>
        <p class="ability">Increases <i>Earth</i> by <i>1</i> every turn.</p>

        <h4>Casting:</h4>
        <p class="spell">Once <i>Satyr</i> casts <i>Dissolve</i>, it dies and creature in the opposed slot suffers
            <i>10</i> damage. If there's no creature, <i>5</i> damage dealt to enemy player. Costs <i>1 Earth</i>
        </p>
    </div>
</div>

<div class="inner_wrap">
	<div class="log">
		<ul>
			<!--<li>satyr <span>casts</span> disolve</li>
			<li>satyr <span>dies</span>.</li>
			<li><i>player_1</i> ends turn.</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>
			<li>ice guard <span>attacks</span> player_2</li>-->
		</ul>
		<a class="show_log" href="">
			<span class="page"></span>
			<span class="pageLines"></span>
		</a>
	</div>
</div>


<script src="<%=conf.staticUrl%>/js/ejs.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/templates.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/actions.js"></script>

<script src="<%=conf.staticUrl%>/cls/UIAnimator.js"></script>
<script src="<%=conf.staticUrl%>/cls/Water.js"></script>
<script src="<%=conf.staticUrl%>/cls/Fire.js"></script>
<script src="<%=conf.staticUrl%>/cls/Earth.js"></script>
<script src="<%=conf.staticUrl%>/cls/Air.js"></script>
<script src="<%=conf.staticUrl%>/cls/Life.js"></script>
<script src="<%=conf.staticUrl%>/cls/Death.js"></script>
<script src="<%=conf.staticUrl%>/cls/GameActions.js"></script>
<script src="<%=conf.staticUrl%>/cls/Hero.js"></script>
<script src="<%=conf.staticUrl%>/cls/Desk.js"></script>
<script src="<%=conf.staticUrl%>/cls/CardsHero.js"></script>
<script src="<%=conf.staticUrl%>/cls/Creature.js"></script>
<script src="<%=conf.staticUrl%>/js/mods/creatures.js"></script>


<script type="text/javascript">
    $(window).ready(function(){
        CardsUI.gameActions.INITGAME();
    });
</script>
<% } else { %>
<div class="inner_wrap">
    Game not found. Please try to <a href="/game/find">find</a> another game
</div>

<% } %>

<%- include ../layout/footer.html %>