<%- include ../layout/game_header.html %>
<script data-main="/javascripts/game" src="/javascripts/lib/require.js"></script>

<% if (found) {%>

<script type="text/javascript">
    var GameData = GameData || {};
    GameData.gameID = '<%= gameData.gameID %>';
    GameData.itself = JSON.parse('<%- JSON.stringify(gameData.itself) %>');
    GameData.me = JSON.parse('<%- JSON.stringify(gameData.me) %>');
    GameData.oponent = JSON.parse('<%- JSON.stringify(gameData.oponent) %>');
</script>

<div id="main-holder">

</div>


<!--Player holder tpl - READY!!!-->
<script type="text/template" id="player-tpl">
    <div class="{{className}} {{color}}" id="playerData_{{uid}}">
        <div class="avatar">
            <img src="/images/player2.png" alt="" width="100" height="100"/>

        <div class="whoMove  {% if (me == 1) { %} greenMove {% } else { %} redMove  {% } %} {{showTurn}}" id="turn_{{color}}">
                {% if (me == 1) { %} Your turn! {% } else { %} Oponent turn  {% } %}</div>
        </div>
        {% if (status == -1) { %}
        <p class="net redFont">Offline</p>
        {% } else { %}
        <p class="net greenFont">Online</p>
        {% } %}
        <div class="playerStatus">
            <div class="heart"><div></div><span>{{healthPoints}}</span></div>
            <div class="playerName">{{login}}</div>
        </div>

        <ul class="elements" id="elements_<%= gameData.me.uid %>">
            <li class="active water" data-element="water"><span></span><i class="count">{{elementsResource.water}}</i></li>
            <li class="fire" data-element="fire"><span></span><i class="count">{{elementsResource.fire }}</i></li>
            <li class="air" data-element="air"><span></span><i class="count">{{elementsResource.air }}</i></li>
            <li class="earth" data-element="earth"><span></span><i class="count">{{elementsResource.earth }}</i></li>
            <li class="life" data-element="life"><span></span><i class="count">{{elementsResource.life }}</i></li>
            <li class="death" data-element="death"><span></span><i class="count">{{elementsResource.death }}</i></li>
        </ul>
    </div>
</script>

<!--Pocket Holder Template-->
<script type="text/template" id="pocket-tpl">
    <div class="cardsWrap">

        <div id="waterSlider" class="h1d">
            <a class="prev prevWater" href="javascript:void(0);">prev</a>
            <div class="cards cardsWater">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextWater" href="javascript:void(0);">next</a>
        </div>

        <div id="fireSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="airSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next" href="javascript:void(0);">next</a>
        </div>


        <div id="earthSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="lifeSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>

        <div id="deathSlider" class="h1d">
            <a class="prev" href="javascript:void(0);">prev</a>
            <div class="cards cardsFire">
                <ul class="deckList">
                </ul>
            </div>
            <a class="next nextFire" href="javascript:void(0);">next</a>
        </div>


    </div>

    <div id="infoHolder">

    </div>

</script>

<!--Log holder tpl-->
<script type="text/template" id="log-tpl">
    <div class="log">
        <ul></ul>
        <a class="show_log" href="">
            <span class="page"></span>
            <span class="pageLines"></span>
        </a>
    </div>
</script>

<!--Battleground template-->
<script type="text/template" id="battle-tpl">
    <canvas class="battleAnimate hide" id="battleAnimate"></canvas><!-- if you know what I mean -->
    <ul id="board_<%= gameData.oponent.uid %>" class="deckList deckOne board" data-owner="playerOne" data-uid='<%= gameData.oponent.uid %>'>
        <li class="deckItem empty" style="left:10px">

        </li>
        <li class="deckItem empty" style="left:145px">

        </li>
        <li class="deckItem empty" style="left:280px">

        </li>
        <li class="deckItem empty" style="left:415px">

        </li>
        <li class="deckItem empty" style="left:550px">

        </li>
    </ul>
    <!-- TWO -->
    <ul id="board_<%= gameData.me.uid %>" class="deckList deckTwo board" data-owner="playerTwo" data-uid='<%= gameData.me.uid %>'>
        <li class="deckItem empty" style="left:10px" data-cell="1">
            <span class="clickHere">Click here to call monster</span>
        </li>
        <li class="deckItem empty" style="left:145px" data-cell="2">
            <span class="clickHere">Click here to call monster</span>
        </li>
        <li class="deckItem empty" style="left:280px" data-cell="3">
            <span class="clickHere">Click here to call monster</span>
        </li>
        <li class="deckItem empty" style="left:415px" data-cell="4">
            <span class="clickHere">Click here to call monster</span>
        </li>
        <li class="deckItem empty" style="left:550px" data-cell="5">
            <span class="clickHere">Click here to call monster</span>
        </li>
    </ul>
</script>

<!--Main layout-->
<script type="text/template" id="layout-tpl">
    <div class="inner_wrap" id="mainHolder">
        <div class="battle "><!-- or moveTwo -->
            <div class="sOverlay" style="">
                <div class="loading">
                    <div class="preLoader"><span id="overLoader"></span></div>
                    <div class="text">
                        <span id="mainText">Please wait. Game loading</span>

                        <div id="overBtn" class="hide">
                            <div class="modal-footer">
                                <a href="/game/find3" class="btn btn-primary" style="letter-spacing:1px;padding: 2px">Find
                                    new game!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- if you know what I mean -->

            <canvas class="playerAnimate" id="playerAnimate" width="1000" height="478" style="display: none"></canvas>
            <!-- if you know what I mean -->
            <a class="action atack" id="endMove" title="Atack"><span><img src="/images/icons/atack.png" alt=""/></span></a>
            <a class="action surrender" title="Surrender"><span>Surrender</span></a>

            <!--Oponent holder-->
            <div class="playerOne"></div>

            <!--Battleground holder-->
            <div class="battleground"></div>

            <!--Holder for my hero-->
            <div class="playerTwo"></div>

        </div>
    </div>

    <!--Holder for pocket-->
    <div class="inner_wrap" id="pocketHolder">

    </div>

    <!--Log holder-->
    <div class="inner_wrap" id="logHolder">

    </div>
</script>


<script type="text/template" id="card-tpl">
    <li class="deckItem {{element}}  {{type}} {{name}}" data-real="{{name}}" data-costs="{{costs}}" data-elem="{{element}}">
    <span class="image">
    <img src="/img/cards/{{name}}.jpg" alt=""/></span>
    <i class="element borderRadius_5"></i>
    <i class="level">{{costs}}</i>
    <i class="monsterHealth">{% if (typeof lives != 'undefined') { %} {{lives}} {% } %}</i>
     <i class="atack">{% if (typeof attackPower != 'undefined') { %} {{attackPower}} {% } %}</i>
    <a class="spell" data-options='{"n":"{{name}}", "e":"{{element}}", "type":"{{type}}"}'>
    {% if (typeof type != 'undefined' && type == "magic") { %} Cast {% } else { %} Call {% } %}
    </a>
    <p class="name">{{realName}}</p><div class="disabledCard"></div>
    </li>
</script>




<script type="text/template" id="info-tpl">
    <div class="cardInfo">
        <li class="deckItem {{element}} {{type}} {{name}}" data-real="{{name}}" data-costs="{{costs}}" data-elem="{{element}}"><span class="image"><img src="/img/cards/{{name}}.jpg" alt=""/></span>
            <i class="element borderRadius_5"></i>
            <i class="level">{{costs}}</i>
            <i class="monsterHealth">{% if (typeof lives != 'undefined') { %} {{lives}} {% } %}</i>
            <i class="atack">{% if (typeof attackPower != 'undefined') { %} {{attackPower}} {% } %}</i>
            <p class="name">{{realName}}</p><div class="disabledCard"></div>
        </li>
        <h4>{{realName}}</h4>
        <p class="ability">{{text.ability}}</p>

        <h4>Casting:</h4>
        <p class="spell">{{text.cast}}</p>
    </div>
</script>


<!--<script src="<%=conf.staticUrl%>/js/mods/templates.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/js/mods/actions.js"></script>-->

<!--<script src="<%=conf.staticUrl%>/cls/UIAnimator.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/Water.js"></script>
<script src="<%=conf.staticUrl%>/cls/Fire.js"></script>
<script src="<%=conf.staticUrl%>/cls/Earth.js"></script>
<script src="<%=conf.staticUrl%>/cls/Air.js"></script>
<script src="<%=conf.staticUrl%>/cls/Life.js"></script>
<script src="<%=conf.staticUrl%>/cls/Death.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/GameActions.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/Hero.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/Desk.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/CardsHero.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/cls/Creature.js"></script>-->
<!--<script src="<%=conf.staticUrl%>/js/mods/creatures.js"></script>-->


<% } else { %>
<div class="inner_wrap">
    Game not found. Please try to <a href="/game/find">find</a> another game
</div>

<% } %>

<%- include ../layout/footer.html %>