<%- include ../layout/header.html %>
<div class="inner_wrap">
	<div class="contactPage">
        <h1>Contacts page in progress</h1>
        Please send ALL bugs report to <a href="https://github.com/Selvatico/warlock-issue/issues">https://github.com/Selvatico/warlock-issue/issues</a>
	</div>
</div>
<%- include ../layout/footer.html %>