		</div>
	</div>
	<footer>
		<div class="footer-widgets">
			<ul class="menu">
				<% if (session.member) {%>
					<li class="current"><a href="#contact">game</a></li>
					<li><a href="#account">account</a></li>
				<% } else { %>
					<li><a href="#login">signin</a></li>
				<% } %>
				<li><a href="#help">contact</a></li>
				<li><a href="/game/about">About</a></li>
				<li><a href="/game/cards">Cards</a></li>
			</ul>
		</div>
		<div class="footer-copyright">
			<div class="copyright">
				<span class="cr">&copy; Magic Card Game. All Rights Reserved. 2012.</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>




	<!-- notifications -->
	<div class="gameNotif hide">
		<div class="gameNotification default" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header">Default theme</div>
			<div class="gameNotif-message">MagicCardGame uses jQuery plugin for notifications.</div>
		</div>
		<div class="gameNotification primary" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header">Primary (primary) theme</div>
			<div class="gameNotif-message">Notifications are available in several styles.</div>
		</div>
		<div class="gameNotification danger" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header">Red (danger) theme</div>
			<div class="gameNotif-message">Default gray style and style for each of 5 colors available.</div>
		</div>
		<div class="gameNotification info" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header">Blue (info) theme</div>
			<div class="gameNotif-message">We use very popular and flexible plugin.</div>
		</div>
		<div class="gameNotification success" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header">Green (success) theme</div>
			<div class="gameNotif-message">Check out MagicCardGame for more info <a target="_blank" href="#">MagicCardGame.com</a>.</div>
		</div>
		<div class="gameNotification default" style="display:block">
			<div class="gameNotif-close">×</div>
			<div class="gameNotif-header"></div>
			<div class="gameNotif-message">We are awesome!</div>
		</div>
		<div class="inverse gameNotif-closer default" style="display:block">hide all notifications
		</div>
	</div>
	<!-- end notifications -->


		<div id="win_popup" class="hide">
			<div class="win_popup">
				<div class="title">Congratulations</div>
				<p class="text">You win the battle. You gain +7 to your rating</p>
				<a href="/game/find3" class="btn btn-primary">Find new game!</a>
			</div>
		</div>
</body>
</html>