<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Warlock: The Etheria tournament</title>
	<link rel="stylesheet" type="text/css" href="<%=conf.staticUrl%>/stylesheets/styles.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="<%=conf.staticUrl%>/stylesheets/animate-custom.css" media="all"/>


	<script type="text/javascript">
		window.jQuery || document.write('<script src="<%=conf.staticUrl%>/js/jquery.1.7.2.min.js"><\/script>')
	</script>

    <script type="text/javascript" src="<%=conf.staticUrl%>/js/my_plugins.js"></script>
	<!--<script type="text/javascript" src="/js/modernizer.min.js"></script>-->


    <script type="text/javascript">
        var tpl = '<%= tpl %>';
        var staticPath = '<%= conf.staticUrl %>';
    </script>

	<script type="text/javascript" src="<%=conf.staticUrl%>/js/main.js"></script>

    <% if (session.member) {%>
	    <script src="/socket.io/socket.io.js"></script>
    <% } %>
    <script src="<%=conf.staticUrl%>/js/cardshero.js"></script>

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="<%=conf.staticUrl%>/js/selectivizr-min.js"></script>
	<![endif]-->
</head>
<body>
<div id="pageLayout">
	<div id="main" class="clearMain">
	    <header style="height: 60px">
	        <h1 id="logo">
		        <a href="/" title="go to home page">Warlock <img src="<%=conf.staticUrl%>/img/alpha-2-stamp.png" style="height:40px" alt="alpha"/>
                <!--<span style="font-size: 19px;opacity: 1;letter-spacing: 2px">(preAlpha)</span>--></a><!--<span></span>-->
		        <strong>codename</strong>
	        </h1>
	        <nav <% if (!session.member) {%> style="width:481px;" <% } else { %> style="width:594px;" <% } %> >
		        <% if (session.member) {%>
		            <ul class="menu">
		                <li><a href="/game/find3">Play Now!</a></li>
		                <li class="">
		                    <a href="/user/rankings">Rankings</a>
		                </li>
		                <li><a href="/game/about">About</a></li>
		                <li><a href="/game/cards">Cards</a></li>
		                <li><a href="/main/contacts">contact</a></li>
		                <li class="current" id="acc">
		                    <a href="#contact" >Account</a>
		                    <ul class="sub-menu">
		                        <li><a href="/main/info"><i class="icon-user"></i> My Profile</a></li>
		                        <li><a href="/user/rankings"><i class="icon-edit"></i> Edit</a></li>
		                        <li><a href="/user/logout"><i class="icon-off"></i> Logout</a></li>
		                    </ul>
		                </li>
		            </ul>
		        <% } else { %>
				    <ul class="menu">
					    <li><a href="/game/about">About</a></li>
					    <li><a href="/game/cards">Cards</a></li>
					    <li><a href="/main/contacts">contact</a></li>
					    <li><a href="#logIn">login</a></li>
					    <li><a href="/user/sign_in">Register</a></li>
				    </ul>
	                <div class="formLogin">
	                    <form action="javascript:CardsUI.logIn();" id="logInNav" method="post" onkeypress="if(event.keyCode == 13) $('#logInNav').submit();">
	                        <fieldset>
	                            <div class="formItem">
	                                <input placeholder="email" type="text" id="lUsername" name="login"/>
	                            </div>
	                            <div class="formItem">
	                                <input placeholder="password" type="password" id="lPass" name="password"/>
	                            </div>
	                            <div class="formItem">
	                                <a class="btn fleft" id="logInBtn">Login</a>
	                            </div>
	                            <div class="formItem fright">
	                                <a class="forgot" href="">Forgot Password?</a>
	                            </div>
	                        </fieldset>
	                    </form>
	                </div>
	            <% } %>
	        </nav>
	    </header>